<nav class="navbar navbar-expand-md navbar-light bg-white" style="height: 100px;">
    <div class="container-fluid" style="max-width: 1200px;">
        <a class="navbar-brand" href="https://junovhs.github.io/pooltool/">
            <img src="assets/logo.png" height="38" alt="Site Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center" id="nav-links">
                <!-- Navigation links will be dynamically inserted here -->
            </ul>
        </div>
    </div>
</nav>
<div class="bg-dark text-white d-flex align-items-center justify-content-center" style="height: 30px;">
    <p class="fs-base mb-0 text-center">FREE TOOLS - ENJOY</p>
</div>
